//--------------------------------------------------------------
// COLORS
//--------------------------------------------------------------
$background-color: #EDEDED;
$font-color: rgba(0,0,0,0.8);

$modal-color: rgba(0,0,0,0.4);
$modal-background: #FFF;
$error: #ff0000;

//--------------------------------------------------------------
// SIZE
//--------------------------------------------------------------
